<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users List Page</title>
</head>
<body>
    <div th:each="user : ${usersList}">
        <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getId() + '. ' + user.getName() + ' ' + user.getLastName() + ', age ' + user.getAge()}"></a>
<!--        <a th:href="show?id=user.getID()" th:text="${user.getId() + '. ' + user.getName() + ' ' + user.getLastName() + ', age ' + user.getAge()}"></a>-->
    </div>
</table>
</body>
</html>