<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'id = ' + ${user.getId()}">VALUE</p>
<p th:text="'name = ' + ${user.getName()}">VALUE</p>
<p th:text="'lastName = ' + ${user.getLastName()}">VALUE</p>
<p th:text="'age = ' + ${user.getAge()}">VALUE</p>


<form action="/delete" method="post">
    <input type="hidden" id="idToDelete" name="id" value="1"> <!-- Указать реальный ID пользователя для удаления -->
    <button type="submit">Delete User</button>
</form>



<form action="/update" method="post">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id" value="1" required> <!-- Указать реальный ID пользователя для обновления -->

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="Ivanov" required>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" value="Ivan" required>

    <label for="age">Age:</label>
    <input type="text" id="age" name="age" value="26" required>

    <button type="submit">Update User</button>
</form>
</html>