<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="'id = ' + ${user.getId()}">VALUE</p>
<p th:text="'name = ' + ${user.getFirstName()}">VALUE</p>
<p th:text="'lastName = ' + ${user.getLastName()}">VALUE</p>
<p th:text="'email = ' + ${user.getEmail()}">VALUE</p>

<br/>
<br/>
<a href="/">
    <button type="button">Home page</button>
</a>

<br/>
<br/>
<br/>

<a th:href="@{/update(id=${user.getId()}, firstName=${user.getFirstName()}, lastName=${user.getLastName()}, email=${user.getEmail()})}">
    <button type="button">Update</button>
</a>

<br/>
<br/>
<br/>
<a th:href="@{/delete(id=${user.getId()})}">
    <button type="button">Delete</button>
</a>
</body>
</html>